
.app{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 4000;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.navbar{
  position: absolute;
  top: 3vh;
  left: -0.3vw;
}
.selections{
  position: absolute;
  top: 7vh;
  left: 2vw;
  z-index: 500;
}
#map{
  position: absolute;
  top: 24vh;
  left:4vw;
  

  height: 74%;
    width: 90vw;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding-left: 10px;
    padding-bottom: 10px;

    transition: margin-right 0.3s;
    overflow: hidden;


}
.mainopen{
  transition: margin-right 5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin-left: -300px;
}
.wrapped_controls{
  transition: margin-right 5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin-left: -300px;
}



.sidenavopen{
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right:  0;
  /* background-color: #b32929; */
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}



/* side nav */

.metadata_text{
  cursor: pointer;
   position: absolute;
    left: 15vw; 
    top: 0.1vh;
     font-size: 16px; 
     font-weight: bold;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.data_analysis_text{
  cursor: pointer;
   position: absolute;
font-size: 16px; 
     font-weight: bold;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.sidenav {
height: 94vh;
position: fixed;
z-index: 3000;
top: 14vh;
right: 0;
caret-color: transparent;
background-color:#fff;
}
#mySidenav {
transition: width 0.3s;
width: 0;
}
.sidenav_body {
height: 90%;

margin-left: 50px;
overflow-y: scroll;
position: relative;
scrollbar-width: thin;
scrollbar-color: steelblue white;
}
.sidenav_body::-webkit-scrollbar {
width: 5px;
}
.sidenav_body::-webkit-scrollbar-track {
background: white; /* color of the tracking area */
}

.sidenav_body::-webkit-scrollbar-thumb {
background-color: steelblue; /* color of the scroll thumb */
border-radius: 20px; /* roundness of the scroll thumb */
border: 1px solid rgb(224, 213, 193); /* creates padding around scroll thumb */
}
.protrusion {
top: 110px;
position: absolute;
border-radius: 50%;
width: 45px;
height: 45px;
cursor: pointer;

}

.toggle_icon{
  position: absolute;
  top: -2.5vh;
  left: -1vw;
  height: 50px;
  width: 50px;
 
}

#close {
  margin-top: 6px;
  margin-left: 45px;
  background-color: #388de7;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  

}
#open {
  margin-top: 29px;
  margin-left: -55px;
  transform: rotate(180deg);
  background-color: #4891e0;
  border-radius: 50%;
  padding: 5px;

}
.open_sidebar{
  position: absolute;
  top: 26vh;
  right: 7vw;
  background-color: #4891e0;
  z-index: 2500;
}
.sideview{
  position: absolute;
  top: 26vh;
  right: -19vw;
  z-index: 2500;
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s

}
@media screen and (max-height: 800px) {
.logos_container {
  margin-bottom: 25px;
  margin-top: 10px;
}
}
@media screen and (min-height: 901px) {
.logos_container {
  position: absolute;
  bottom: 0;
  margin-left: 25%;
}
}
#mapContainer >>> .base_layer_list {
list-style: none;
font-size: 15px;
padding: 5px;
}
.side_nav_swap {
color: #1481c3;
border-bottom: solid 3px #1481c3;
padding-bottom: 6px;
font-weight: bolder;
font-size: 18px;
margin-bottom: 20px;
}

table, th, td {
border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  margin-top: 40px;
}


th{
font-weight: bolder;
}

tr:nth-child(even) {
background-color: #ddd;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
 .map_controls{
  position: absolute;
  z-index: 500;
  top: 5vh;
  left: 98vw;
  background-color: #fff;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}


.download_tiff{
  position: absolute;
  top: 5vh;

  left: -2vw;
}
.download_map{
  position: absolute;
  top: 9vh;
  left:  -2vw;
}

.measure{
  position: absolute;
  top: 13vh;
  left:  -2vw;

}
.wemast_base_layers{
  position: absolute;
  top: 17vh;
  left:  -2vw;
}
.draw_polygon{
  position: absolute;
  top: 21vh;
  left:  -2vw;

}
.zoom_in{
  position: absolute;
  top: 25vh;
  left:  -2vw;

}
.zoom_out{
  position: absolute;
  top: 29vh;
  left: -2vw;

}
.help{
  position: absolute;
  top: 33vh;
  left:-2vw

}
/* #search1{
  position: absolute;
  top: 65vh;
  right:7vw;
  background-color: #fff;
  height: 40px;
  width: 200px;
  z-index: 2000;
  border: #777;

} */
#map_icons{
  height: 20px;
  width:20px;
  padding: 3px;
  background-color: #fff;
  cursor: pointer;
}
/* wemast_base_layers
draw_polygon
zoom_in
zoom_outmp
help */
.swap{
  z-index: 500;
  position: absolute;
  top: 27vh;
  left:78vw;
  cursor: pointer;
  height: 20px;
  width:20px;
background-color: #fff;
padding: 3px;

}
.opacity{
  z-index: 500;
  position: absolute;
  top: 27vh;
  left:67vw;
  cursor: pointer;
  height: 25px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  /* border-radius: 10px; */
  /* padding-left: 30px; */
}
#opacity{
  position: absolute;
  top: 0.5vh;
  left:0.25vw;
  z-index: 1000;
  font-size: 14px;
color: #000;

}
#image-opacity{
  z-index: 500;
  position: absolute;
  top: 0.1vh;
  left:2.5vw;
  cursor: pointer;
  color: rgb(192, 20, 20);
  /* background-color: #fff; */

}
#sldOpacity{
  z-index: 2500;
  position: absolute;
  top: 1vh;
  left:3vw;
  cursor: pointer;
  height: 5px;
 
  background-color: #000;
  
}
#sldOpacity::-webkit-slider-thumb {
  z-index: 2500;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #099f46;
  /* overflow: visible; */
  cursor: pointer;
}
.base_map_ctrl_selections {
  position: absolute;
  z-index: 401;
  /* margin-top: 5%; */
  top: 2vh;
  left:82.1vw;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  
}
/* .base_map_name {
  font-size: 15px;
  cursor: pointer;
  border-bottom: #080808 solid 3px;
}
.base_map_name:hover {
  background-color: #858585;
} */
/* .layers:hover{
  color:#fff;
  background-color:#333333;

  -webkit-transform: translateX(20px); 
  -moz-transform: translateX(20px); 
  -ms-transform: translateX(20px); 
  -o-transform: translateX(20px); 
  transform: translateX(20px); .download_tiff, .download_map,
} */
.layers:hover ~ #opacity {
  background: #801113;
  /* -webkit-transform: translateX(120px); 
  -moz-transform: translateX(120px); 
  -ms-transform: translateX(120px); 
  -o-transform: translateX(120px); 
  transform: translateX(120px);  */
}

/* #wemast_base_layers {
  margin-top: 0.9px;
} */
#map >>> .leaflet-control-layers {
  display: none;
  /* position: absolute;
  top:80;
  right:190px */
}#map >>> .map_controls {
  font-size: 30px;
  position: sticky;
  top: 40%;
}
#map >>> .map_controls img {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: rgb(155, 34, 34); */
  height: 20px;
  width:20px;
  /* padding: 3px; */
  background-color: #fff;
  cursor: pointer;
}
.base_layer_list{
  list-style-type: none;
  /* margin-left: -50px; */
  /* background-color: aqua; */
  font-size: 14px;
  /* background-color: #f59211; */
  margin-top: 25px;
  height: 164.7px;
}
.base_map_name{
  /* background-color: aqua; */
  margin-left: -30px;
  margin-top: -15px;
}
/* aka basemapnames */
/* .vvv{
  margin-right: -15px;
  margin-top: -15px;
} */
/* #base_layer-MapBox, #base_layer-OpenStreetMap, #base_layer-MapBoxSatellite{
color: rgb(212, 19, 230);

}
#checkbox-MapBox, #checkbox-OpenStreetMap, #checkbox-MapBoxSatellite{
   margin-top: -15px;
  
  } */

.col-xs-10.q-ml-sm {
  margin-top: -23px;
  padding: 0;
}
.header_countries{
  position: absolute;
  z-index: 4001;
  /* margin-top: 5%; */
  top: 10vh;
  left:82.1vw;
}
.spinner{
  position:absolute;
  top: 57vh;
  left: 40vw;
  z-index: 1500;
  /* background-color: black; */
  width: 500px;
  height: 150px;
  

}
.request{
  position: absolute;
  z-index: 2500;
top: 18vh;
left: 40vw;
width: 140px;
height: 35px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
border-radius: 30px;
border: none;
color: #fff;
background-color: rgb(180, 28, 160);
cursor: pointer;
}
.advanced_filter{
  cursor: pointer;
 
  position: absolute;
  
  z-index: 2500;


position: absolute;
  top:69.8vh;
  left: -0.2vw;
  height: 135px;
  width: 80px;
  background-color: steelblue;

}
.advanced_filter p{
  
  color: #fcfafa;
  position: relative;
  left: 0.5vw;
  /* transform: rotate(270deg); */
  display: inline-block;
  top: 5px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 600;
}
.filter_icon{
  position: relative;
  margin-top: 20px;
  margin-left: 5px;
}
.filter_open{
  position: absolute;
  margin-top: 100px;
  margin-left: 25px;
}
.compare{
  cursor: pointer;
  position: absolute;
  top:84.5vh;
  left: -0.2vw;
  height: 135px;
  width: 80px;
   background-color: #073e81;
  ;


}
.compare p{
  
  color: #fcfafa;
  position: relative;
  left: 0.7vw;
  /* transform: rotate(270deg); */
  display: inline-block;
  top: 5px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 600;
}
.compare_icon{
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}
.compare_open{
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
 
}

.advanced_filter_container{
  position: absolute;
  left:4.1vw;
  z-index: 3500;
top: 36.4vh;
/* background-color: aqua; */
}
.close_advanced_filter{
  position: absolute;
  /* background-color: #d31ae4; */
  /* height: 50px;
  width: 50px; */
  top: 1vh;
  left: 14vw;
  cursor: pointer;
}
.compare_container{
  position: absolute;
  left:4.1vw;
  z-index: 2500;
  top: 36.4vh;
/* background-color: aqua; */
}
.close_compare{
  position: absolute;
  /* background-color: #d31ae4; */
  /* height: 50px;
  width: 50px; */
  top: 1vh;
  left: 14vw;
  cursor: pointer;
  z-index: 3000;
}


.nav_icons{
  position: absolute;
  top:25vh;
  left:1vw; 
  display: flex;
  gap: 2em;
  flex-direction: column;
  cursor: pointer;
  /* margin: 20px; */
}
.image{
  border-radius: 10px;

}
.image2{
  border-radius: 6px;

}
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  /* background: rgba(255, 255, 255, 0.8); */
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 10px;
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin: 2px 12px 8px;
  color: rgb(90, 90, 90);
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
  border-radius: 50%;
  margin-left: 15px;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.side-bar-view{
  background-color: rgb(202, 124, 124);
}
title{
  background-color: #000;
}
/* .leaflet-control-geosearch form input {
  min-width: 200px;
  width: 100%;
  outline: none;
  border: none;
  
  margin-top: -4vh;
  padding: 0;
  font-size: 12px;
  height: 26px;
  border: none;
  border-radius: 0 4px 4px 0;
  text-indent: 8px;
} */

.leaflet-control-geosearch button.reset {
  color: black;
  z-index: 1000;
  font-weight: bold;
  position: absolute;
  line-height: 26px;
  margin-right: -0.5vw;
  margin-top: 0.1vw;
  right: 1vw;
  top: 0;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: transparent;
  /* border-radius: 4px; */
}
.chart_title{
  position: relative;
  top: -5vh;
  left: -1vw;
  font-weight: 700;
}

.charts_sidebar{
  position: relative;
  top: 1vh;
  height: 200px;
  width: 99%;
  background-color: #eee;
  padding: 20px;
}
.lulc_chart{
  position: relative;
  top: -7vh;
  left: 20%;
  width: 15vw;
  height: 16.5vh;
  padding: 5px;
}


.charts2_sidebar{
  position: relative;
  top: 3vh;
  height: 250px;
  width: 99%;
  background-color: #eee;
  padding: 20px;
}
.bar_chart_title{
  position: relative;
  top: -5vh;
  left: -1vw;
  font-weight: 700;
}
.lulc_bar_chart{
  position: relative;
  top: -1vh;
  left: 10%;
  width: 25vw;

  
}
#bar-chart{
  height:250px !important;
}
