@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.app{
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* z-index: 4000; */
  font-family:Poppins;
  overflow-x: hidden;
  overflow-y: hidden;


}
.navbar{
  display:flex;
  justify-content:center;
  align-items:center;
  margin: .5em .5em;
}
.selections{
  position: absolute;
  top: 11vh;
  left: 7vw;
  z-index: 2500;

}
#map{
  position: absolute;
  top: 18vh;
  left:7vw;
  z-index:200;
  

  height: 80%;
    width: 85%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding-left: 10px;
    padding-bottom: 10px;

    transition: margin-right 0.3s;
    overflow: hidden;


}
.mainopen{
  transition: margin-right 5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin-left: -300px;
}
.wrapped_controls{
  transition: margin-right 5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin-left: -300px;
}



.sidenavopen{
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right:  0;
  /* background-color: #b32929; */
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}



/* side nav */

.metadata_text{
  cursor: pointer;
   position: absolute;
    left: 15vw; 
    top: 0.1vh;
     font-size: 16px; 
     font-weight: bold;
     font-family:Poppins
}
.data_analysis_text{
  cursor: pointer;
   position: absolute;
font-size: 16px; 
     font-weight: bold;
     font-family:Poppins
}
.sidenav {
height: 94vh;
position: fixed;
z-index: 3000;
top: 14vh;
right: 0;
caret-color: transparent;
background-color:#ffffff;

/* margin-left: -1px; */
}

#close:active ~ .download_map{
  
  background-color: #801113 !important;
}


#mySidenav {
transition: width 0.3s;


}
.sidenav_body {
height: 90%;
/* background-color: #a35a5a; */
margin-left: 20px;
overflow-y: scroll;
overflow-x: hidden;
position: relative;
scrollbar-width: thin;
scrollbar-color: steelblue white;
}
.sidenav_body::-webkit-scrollbar {
width: 0.8px;
}
.sidenav_body::-webkit-scrollbar-track {
background: white; /* color of the tracking area */
}

.sidenav_body::-webkit-scrollbar-thumb {
background-color: steelblue; /* color of the scroll thumb */
border-radius: 20px; /* roundness of the scroll thumb */
border: 1px solid rgb(224, 213, 193); /* creates padding around scroll thumb */
}
@media screen and (max-height: 720px) {
  .protrusion {
    top: 174px;
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1280px) {
  .protrusion {
    top: 112px;
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
   
  }
}


.toggle_icon{
  position: absolute;
  top: -8vh;
  left: -1vw;
  height: 2.5em;
  width: 2.5em;

  /* @media (max-width: 1300px) {

    
      display: none !important;
  
    
    } */
 
}
@media (-webkit-min-device-pixel-ratio: 1.25) {
  /* Styles for devices with a minimum aspect ratio of 16:9 */
  /* For example, widescreen monitors, laptops, some tablets */





  .toggle_icon{
    position: absolute;
    top: -12vh;
    left: -0.6vw;
    height: 40px;
    width: 40px;
   
  }
 

  .swap{
    z-index: 500;
    position: absolute;
    top: 20vh;
    left:81vw !important;
    cursor: pointer;
    height: 1.5em;
    width:1.5em;
  background-color: #fff;
  padding: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  
  }

  #chart_pie{
    position: absolute;
    top: -10vh !important;
    left: 0;
    width: 35vw;
    height: 30vh;
   
   
  }
  .charts2_sidebar{
    position: absolute;
    top: 63vh !important;
    /* height: 240px; */
    width: 99%;
    background-color: #eee !important;
    /* padding: 3em 2em; */
  }
  .lulc_chart{
    position: relative;
    top: -1vh;
    left: 10% !important;
    width: 18vw !important;
    height: 14.5vh;
    padding: 5px;
    margin: 5px;
  }
  #bar-chart{
    height: 100% !important;
    width:100% !important;
    margin-top:1vh;
    margin-left:-3vh;
  }

  .vul_pie_chart_title{
    position: relative;
    top: -15vh !important;
    left: -1vw;
    font-weight: 700;
  }

  .ancil_data{ 
    
    margin-top: 2.5vw !important;
    margin-left: -1vw !important;
  }
  .ancil_water{ 
    
    margin-top: 6.5vw !important;
    margin-left: -7vw !important;
  }

  .time_series_title{
    position: absolute;
    top: -1vh;
    left: 10% !important;
    font-weight: 600;
   
  
  }
  .rain, .temp{
    margin-top: 5.6vh !important;
  }
  .ancil_rain{ 
    margin-top: 6.5vw !important;
    
  }

  .lulc_line_chart{
    left:-1vw !important;
  }
  .bar_chart_title{
    display:none !important;
  }
  .logos_container{
    margin-top: 40vh !important;
    /* margin-left: 4vw; */
    height: 10%;
     width: 90%;
     padding-top: 3em;
   
    
  
  }
 
}

.toggle_is_open{
  position: absolute;
  top: 2vh;
  left: -2.7vw;
}

#close {
  margin-top: 6px;
  margin-left: 0px;
   width:1.8em;
  height: 2em;
  background-color: #fff;
  /* border-radius: 50%; */
  padding: 5px;
  margin-right: 10px;
  transform: rotate(180deg);
  

}
#open {

  position: absolute;
  top:0vh;
  left:-2.3vw;
  /* transform: rotate(180deg); */
  background-color: #fff;
  width:1.9em;
  height: 2em;
 
  padding: 5px;

}

.sideview{
  position: absolute;
  top: 26vh;
  right: -19vw;
  z-index: 2500;
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s

}

#mapContainer  .base_layer_list {
list-style: none;
font-size: 15px;
padding: 5px;
}
.side_nav_swap {
color: #1481c3;
border-bottom: solid 3px #1481c3;
padding-bottom: 6px;
font-weight: bolder;
font-size: 18px;
margin-bottom: 20px;
}

/* table, th, td {
border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  margin-top: 40px;
}


th{
font-weight: bolder;
}

tr:nth-child(even) {
background-color: #ddd;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
} */

  .download_tiff_2{
    position: absolute;
    top: 5vh;
  
    left: 4vw;
  }
  .download_map_2{
    position: absolute;
    top: 9vh;
    left:  4vw;
  }

  .stats{
    position: absolute;
    top: 41vh;
  
    left: -2vw;
  }
.download_tiff{
  position: absolute;
  top: 5vh;

  left: -2vw;
}

.download_map{
  position: absolute;
  top: 9vh;
  left:  -2vw;
}


.measure{
  position: absolute;
  top: 13vh;
  left:  -2vw;

}
.wemast_base_layers{
  position: absolute;
  top: 17vh;
  left:  -2vw;
}
.draw_polygon{
  position: absolute;
  top: 21vh;
  left:  -2vw;

}
.zoom_in{
  position: absolute;
  top: 25vh;
  left:  -2vw;

}
.zoom_out{
  position: absolute;
  top: 29vh;
  left: -2vw;

}
.help{
  position: absolute;
  top: 33vh;
  left:-2vw

}
.upload{
  position: absolute;
  top: 37vh;
  left:-2vw

}


.doc_select{
  position: absolute;
  top: 46vh;
  left:7vw;
  /* background-color: #fff; */
  height: 340px;
  width: 200px;
  z-index: 2000;
  
}
#map_icons{
  height: 20px;
  width:20px;
  padding: 3px;
  background-color: #fff;
  cursor: pointer;
}

.swap{
  z-index: 500;
  position: absolute;
  top: 20vh;
  left:78vw;
  cursor: pointer;
  height: 1.5em;
  width:1.5em;
background-color: #fff;
padding: 5px;
display:flex;
justify-content: center;
align-items: center;

}
.opacity{
  display:flex;
  flex-direction: row;
  gap:5em;
  z-index: 500;
  position: absolute;
  top: 20vh;
  left:67vw;
  cursor: pointer;
  height: 1.5em;
  width: 12.5em;
  background-color: #fff;
  
}
#opacity{
  position: absolute;
  top: 0.15vh;
  left:0.25vw;
  z-index: 1000;
  font-size: 14px;
color: #000;

}
#image-opacity{
  z-index: 500;
  position: absolute;
  top: 0.1vh;
  left:2.5vw;
  cursor: pointer;
  color: rgb(192, 20, 20);


}
#sldOpacity{
  z-index: 2500;
  margin: 0.7em 5em;
  cursor: pointer;
  height: .5em;
 
  
}
#sldOpacity::-webkit-slider-thumb {
  z-index: 2500;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #099f46;
  /* overflow: visible; */
  cursor: pointer;
}
.base_map_ctrl_selections {
  position: absolute;
  z-index: 401;
  /* margin-top: 5%; */
  top: 2vh;
  left:82.1vw;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  
}

.layers:hover ~ #opacity {
  background: #801113;
  
}

#map  .leaflet-control-layers {
  display: none;

}#map  .map_controls {
  font-size: 30px;
  position: sticky;
  top: 45%;
  
}
#map  .map_controls img {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  height: 1em;
  width:1em;
  
  background-color: #fff;
  cursor: pointer;
  display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.base_layer_list{
  list-style-type: none;
  
  font-size: 14px;
  
  margin-top: 25px;
  height: 164.7px;
}
.base_map_name{

  margin-left: -30px;
  margin-top: -15px;
}


.col-xs-10.q-ml-sm {
  margin-top: -23px;
  padding: 0;
}
.header_countries{
  position: absolute;
  z-index: 4001;
  /* margin-top: 5%; */
  top: 10vh;
  left:82.1vw;
}
.spinner{
  position:absolute;
  top: 57vh;
  left: 40vw;
  z-index: 1500;
  /* background-color: black; */
  width: 500px;
  height: 150px;
  

}
.request{
  position: absolute;
  z-index: 2500;
top: 18vh;
left: 40vw;
width: 140px;
height: 35px;
font-family: Poppins;
font-weight: bold;
border-radius: 30px;
border: none;
color: #fff;
background-color: rgb(180, 28, 160);
cursor: pointer;
}

/* .advanced_filter p{
  
  color: #fcfafa;
  position: relative;
  left: 0.5vw;
 
  display: inline-block;
  top: 5px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 600;
} */
.filter_icon{
  /* position: relative;
  margin-top: 20px;
  margin-left: 5px; */
  height:2em
}
.filter_open{
  /* position: absolute;
  margin-top: 100px;
  margin-left: 25px; */
  height:2em;
}

.compare p{
  
  /* color: #fcfafa;
  position: relative;
  left: 0.7vw;
  
  display: inline-block;
  top: 5px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 600; */
}
.compare_icon{
  /* position: relative;
  margin-top: 20px;
  margin-left: 10px; */
  height:2em;
}
.compare_open{
  /* position: absolute;
  margin-top: 100px;
  margin-left: 20px;
  */
}

.advanced_filter_container{
  position: absolute;
  left:7.1vw;
  z-index: 3500;
top: 36.4vh;
/* background-color: aqua; */
}
.close_advanced_filter{
  position: absolute;
  
  top: 1vh;
  left: 14vw;
  cursor: pointer;
 
}
.compare_container{
  position: absolute;
  left:7.1vw;
  z-index: 2500;
  top: 36.4vh;
/* background-color: aqua; */
}
.close_compare{
  position: absolute;
 
  top: 0.2vh;
  left: 14.5vw;
  cursor: pointer;
  height: 20px !important;
  width: 20px !important;
  z-index: 3000;
}


.nav_icons{
  position: absolute;
  top:25vh;
  left:1vw; 
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  cursor: pointer;
  /* margin: 20px; */
}
.image{
  border-radius: 10px;

}
.image2{
  border-radius: 6px;

}
.legend {
 
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;

  border-radius: 10px;
  line-height: 24px;
  color: #555;
}

.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin: 2px 12px 8px;
  color: rgb(90, 90, 90);
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
  border-radius: 50%;
  margin-left: 15px;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.legend img {
 
  margin-left: 15px;
}
de-bar-view{
  background-color: rgb(202, 124, 124);
}
title{
  background-color: #000;
}


.leaflet-control-geosearch button.reset {
  color: black;
  z-index: 1000;
  font-weight: bold;
  position: absolute;
  line-height: 26px;
  margin-right: -0.5vw;
  margin-top: 0.1vw;
  right: 1vw;
  top: 0;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: transparent;
  /* border-radius: 4px; */
}
.chart_title{
  position: relative;
  top: -5vh;
  left: -1vw;
  font-weight: 700;
}

.charts_sidebar{
  position: relative;
  top: 1vh;
  height: 250px;
  width: 99%;
  background-color: #eee;
  padding: 20px;
}
.lulc_chart{
  position: relative;
  top: -2vh;
  left: 20%;
  width: 15vw;
  height: 16.5vh;
  padding: 5px;
  margin: 5px;
}
.flood_chart{
  position: relative;
  top: -3vh;
  left: 20%;
  width: 18vw;
  height: 17vh !important;
  padding: 5px;
  margin: 5px;
 
}
#chart_pie{
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
  height: 30vh;

}


.charts2_sidebar{
  position: absolute;
  top: 53vh;
  /* height: 240px; */
  width: 99%;
  background-color: #eee;
  /* padding: 3em 2em; */
}
.default_layer_title{
  position: absolute;
  top: -2.5vh;
  left: 0;
  font-weight: 700;
}
.bar_chart_title{
  position: absolute;
  top: -3vh;
  left: 1vw;
  font-weight: 700;
}
.vul_bar_chart_title{
  position: relative;
  top: -6vh;
  left: -1vw;
  font-weight: 700;
}

.vul_pie_chart_title{
  position: relative;
  top: -17vh;
  left: -1vw;
  font-weight: 700;
}


.lulc_bar_chart{
  position: absolute;
  top: 2vh;
  left: 4%;
  width: 25vw;
 
}

.logos_container{
  margin-top: 30vh;
  /* margin-left: 4vw; */
  height: 10%;
   width: 90%;
   padding-top: 3em;
 
  

}
#bar-chart{
  height:250px !important;
  margin-top:-9vh
}

.bar_veg_cover{
  position: absolute;
  top: -21vh;
  left: 2%;
  width: 15vw;
  height: 16.5vh;
  padding: 5px;
  margin: 5px;
  /* display: none; */
}

.lulc_line_chart{
  position: relative;
  top: 4vh;
  left: 4%;
  width: 25vw;
 
  
}
.time_series_title{
  position: absolute;
  top: -1vh;
  left: 35%;
  font-weight: 600;
 

}

.ancillary_title{
  position: absolute;
/* padding-bottom: -10vh; */
  top: -3vh;
  left: 58%;
  font-weight: 600;
  display:flex;
  flex-direction: row;
  gap:0.5rem;
  cursor:pointer;
 

}
.ancillary_title2{
  position: relative;

  top: -13vh;
  left: 69%;
  font-weight: 600;
  display:flex;
  flex-direction: row;
  gap:0.5rem;
  cursor:pointer;
 

}
.ancillary_title3{
  position: relative;

  top: -13vh;
  left: 62%;
  font-weight: 600;
  display:flex;
  flex-direction: row;
  gap:0.5rem;
  cursor:pointer;
 

}

.ancil_data{ 
  /* margin-top:-0.5vh; */
  margin-left: -2vw;
}
#line-chart{
  height: 250px !important;
  margin-top:-4.8vh;
}

.prec_bar{
  display: none;
}



.mobile_filter{
  position: absolute;
  top: 45vh;
  left: 7.2vw;
  z-index: 1500;
  background-color: #fff;
  
 
  padding: 2em;
  display:flex;
  flex-direction: column;
  gap:1em;
}
.fetch_mobile{
  background-color:steelblue;
  color: #fff;
  height: 30px;
  width: 100px;
  

  outline: none;
  border: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  
}
.fetch_mobile_user{
  background-color:steelblue;
  color: #fff;
  height: 30px;
  width: 100px;
 
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  
}
.burnt_summary{
  font-size: 14px;
}
.burnt_bar_chart{
  position: relative;
  top: -3vh;
  left: 4%;
  width: 25vw;
  height:100px !important;
}
.zambezi_chart{
  display: none;

}
.hide{
  display:none
}


.advanced_filter {
  cursor: pointer;
  z-index: 200;
 

  background-color: steelblue;
  padding: 1em;
  color: #fff;
  font-size: .7em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
 

}

.compare{
  cursor: pointer;

   background-color: #073e81;
  
  padding: 1em;
  color:#fff;
  font-size: .7em;
  display:flex;
  flex-direction: column;
  gap: 0.2em;


}

.metatable th {
  border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    margin-top: 40px;
  }

  .metatable td {
    border: 1px solid #ddd;
      text-align: left;
      padding: 8px;
      margin-top: 40px;
    }
  
  
  .metatable th{
  font-weight: bolder;
  }
  
  .metatable tr:nth-child(even) {
  background-color: #ddd;
  }
  .metatable {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    margin-top: 40px;
  }
  

 /* For laptops */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
    
      .upload_shapefile_container{
        margin-left: -7em !important;
        margin-top: 2em !important;
        padding:0.5em !important;
       }
       #map{
        height:70vh;
        width:90vw;
        margin-top:2em;
        margin-bottom:0 !important;
       }
       
       .map_controls{
        margin-left:-0.5em;
    
       }
       .opacity{
        margin-top: 1em;
        margin-left:-2em;
       }
       .advance_wrapper{
        margin:0 -2em !important;
       
        
    
       }
       
       .advanced_filter, .compare{
        /* padding: 0.5em 3em !important; */
        width: 95% !important;
       }
       .advanced_text, .compare_text{
        padding-left: 0.5em !important;
       }
       .toggle_icon{
        margin-top: 9em !important;
        margin-left:1.9em;
       }
  }


  /* For tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .upload_shapefile_container{
    margin-left: -7em !important;
    margin-top: 2em !important;
    padding:0.5em !important;
   }
   #map{
    height:70vh;
    width:90vw;
    margin-top:2em;
    margin-bottom:0 !important;
   }
   
   .map_controls{
    margin-left:-0.5em;

   }
   .opacity{
    margin-top: 1em;
    margin-left:-2em;
   }
   .advance_wrapper{
    margin:0 -2em !important;
   
    

   }
   
   .advanced_filter, .compare{
    /* padding: 0.5em 3em !important; */
    width: 95% !important;
   }
   .advanced_text, .compare_text{
    padding-left: 0.5em !important;
   }
   .toggle_icon{
    margin-top: 9em !important;
    margin-left:1.9em;
   }


}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .advanced_filter, .compare{
    /* padding: 0.5em 3em !important; */
    /* width: 95% !important; */
    display:none !important;
   }
   .home, .dashboard, .person, .search{
    margin-left:-0.5em;
    height: 1.5em !important;
   }
   #mobileicon{
    margin-left: -0.5em !important;
   }
   .opacity{
    margin-left:-14em;
    margin-top:-0.8em;

   }
   .map_controls{
    display: none;
   }
   .toggle_icon{

   }
}